$colors: (
        "teal" : $teal-400
);
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);

$font-sizes: (
        7: 12px,
        8: 11px,
        9: 10px
);