{% extends "base.html" %}

{% block content %}
    <h6 class="card-title">data from K-CDC</h6>
    <div>
        <ul>출처 : <a
                href="http://ncov.mohw.go.kr/bdBoardList_Real.do?brdId=1&brdGubun=11&ncvContSeq=&contSeq=&board_id=&gubun=">대한민국
            질병 관리 본부</a></ul>
    </div>
    <div class="d-grid mx-auto gap-2">
        <div class="container mx-auto">
            <a class="btn btn-outline-primary" href="{% url 'daily-view' %}">Daily
            </a>
            <a class="btn btn-outline-success" href="{% url 'sum-view' %}">Sum
            </a>
        </div>
    </div>
{% endblock content %}