{% extends "base.html" %}
{% block content %}
    <table class="table table-hover">
        <tr>
            <th>날짜</th>
            <th>누적 확진</th>
            <th>총 사망</th>
            <th>현재 격리중</th>
            <th>총 환치</th>
        </tr>
        {% for sum_object in object_list %}
            <tr>
                <td>{{ sum_object.date }}</td>
                <td>{{ sum_object.positive }}</td>
                <td>{{ sum_object.death }}</td>
                <td>{{ sum_object.quarantined }}</td>
                <td>{{ sum_object.cured }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}
